@tailwind base;
@tailwind components;
@tailwind utilities;

.summary > p {
  margin-top: 24px;
  border-top: 1;
  @apply border-t-2 text-center;
}

.menus {
  @apply w-full flex items-center   justify-start gap-x-2 text-center cursor-pointer hover:bg-slate-200 hover:text-slate-600 hover:font-bold rounded-md px-4 py-2;
}


.menus-icon{
 @apply w-10 h-10 p-2 rounded-full bg-gray-800 text-slate-200 hover:scale-105 ;
}

.text-section{
  opacity: 0;
  transition:all;
  transform: translate(100px);
  transition: 1s;
}

.show{
  opacity: 1;
  transform: translate(0);
}

.cards{
  @apply h-44 w-1/2 px-5 rounded-sm shadow text-black font-bold   flex flex-col items-center justify-center
 
}