@tailwind base;
@tailwind components;
@tailwind utilities;

.summary > p {
  margin-top: 24px;
  border-top: 1;
  @apply border-t-2 text-center;
}

.menus {
  @apply flex w-full cursor-pointer items-center justify-start gap-x-2 rounded-md px-4 py-2 text-center hover:bg-slate-200 hover:font-bold hover:text-slate-600;
}

.menus-dropdown-text {
  @apply justify-center;
}

.menus-icon {
  @apply h-10 w-10 rounded-full bg-gray-800 p-2 text-slate-200 hover:scale-105 hover:bg-gray-500;
}

.text-section {
  opacity: 0;
  transition: all;
  transform: translate(100px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translate(0);
}

.cards {
  @apply flex h-44 w-10/12 flex-col items-center  justify-center rounded-md px-5 font-bold   text-[#0088cc] shadow md:w-2/3 lg:w-2/4;
}

.services {
  @apply flex flex-1 flex-col items-center justify-center p-6 text-center;
}

.services > p {
  @apply px-12 text-center text-white;
}
